* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

h1 {
	position: absolute;
	bottom: 0px;
	left: 20px;
	color: #ddd;
	font-size: 40px;
	transform: rotate(-90deg);
	text-transform: uppercase;
	transform-origin:  0 0;
}

.view {
	padding: 20px;
	width: 25%;
	background: #eee;
	display: block;
	float: left;
}

.info {
	display: block;
	height: 100%;
	width: 75%;
	background-color: #090208;
	position: fixed;
	right: 0;
	top:0;
	overflow-y: auto;
}
